# Access transformers for Arsenal (Mojang mappings)
# CreativeModeInventoryScreen$SlotWrapper (was CreativeInventoryScreen$CreativeSlot)
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen$SlotWrapper
# AbstractContainerMenu#addSlot (was ScreenHandler#addSlot)
protected net.minecraft.world.inventory.AbstractContainerMenu addSlot(Lnet/minecraft/world/inventory/Slot;)Lnet/minecraft/world/inventory/Slot;
